<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
  {%if current_user.is_admin%} 
    <h1 class="subtitle has-text-right"><strong style="color:red">{{count}}</strong> resultados encontrados</h1>
    <div id="container-grid-title">
      <div id="action-grid-title">  
          <div class="name-title">
            NOMBRE
          </div>
          <div class="status-title">
            ESTADO
          </div>
          <div class="date-title">
            FECHA
          </div>
          <div class="date-title">
            HORA
          </div>
      </div>     
    </div>
    <div id="container-grid">
      <div id="action-grid">
        {% for register in action_user%} 
            <div class="name">
              <strong>{{register.user}}</strong>
            </div>
            <div class="status">
              {%if register.status == "ENTRADA" %}
                <span style="color:green"><strong>{{register.status}}</strong></span>
              {%endif%}
              {%if register.status == "DESCANSO" %}
                <span style="color:orange"><strong>{{register.status}}</strong></span>
              {%endif%}
              {%if register.status == "SALIDA" %}
                <span style="color:red"><strong>{{register.status}}</strong></span>
              {%endif%}
            </div>
            <div class="date">
              {{register.date.strftime('%d/%m/%Y')}}<br>
            </div>
            <div class="date">
              {{register.date.strftime('%H:%M:%S')}}<br>
            </div>
        {%endfor%}
      </div>
      <a class="button is-warning is-medium exit" href="{{url_for('full_profiles')}}"><img src="{{url_for('static', filename="back.png")}}" width="22px">&nbsp;ATRAS</a>     
    </div>
  {%endif%}

{% endblock %}